<head>
    <title>

    </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">
</head>

<body>
<div class="rightmenu">
    <ul>
        <li><a class="nav-link active" href="/">HOME</a></li>
        <li><a class="nav-link" href="about-us">ABOUT US</a></li>
        <li><a class="nav-link" href="add-customer">ADD CUSTOMER</a></li>
        <li><a class="nav-link" href="view-customers">VIEW CUSTOMERS</a></li>
    </ul>
</div>
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
        <br class="hidden lg:inline-block">
      </h1>
      <p class="mb-8 leading-relaxed">This project examines the aspect of the hospitality industry which is Hotel management. In the 21st century the use of the internet, computers and other electronic devices have made handling different jobs and aspects of management very easy. This project is the design and implementation of an electronic hotel management system that provides proper management of data and transactions in a centralized and organized manner and also provides a user friendly interface with which the user can interact easily with the just little or elementary knowledge of operating computers.</p>
      <div class="flex justify-center">
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/random/720x400/?employee,office">
    </div>
  </div>
</section>
</body>


